.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-image: linear-gradient(rgb(0, 183, 255), yellow);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.profile {
    text-align: center;
    
}

.imagem-perfil {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1,
h2 {
    color: #333;
}

p {
    color: #666;
}

.imagem-email {
    height: 30px;
    width: 30px;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lista {
    margin: 0;
    padding: 0;
}

.logo-fatec {
    height: 30px;

}

.